body {
    margin: 0%;
    padding: 0%;
}

button {
    background-color: rgb(100, 161, 214);
}

.btn {
    margin-left: 80px;
    margin-top: 20px;
}

.maindiv {
    width: 600px;
}

form {
    margin: 0%;
    margin-top: 40px;
}

.textcenter {
    margin-left: 10%;
}

.outerdiv {
    padding: 10%;
    padding-left: 35%;
}